@font-face {
  font-family: "Comic Talk";
  src: url("../assets/fonts/ComicTalk.woff2") format("woff2");
}

* {
  padding:0;
  margin:0;
}

body, html {
  min-width: 100%;
  min-height: 100%;
  max-width:100%;
  height:100%;
  width:100%;
  background: url("../assets/wood-bg.png");
}

.header{
  width:100%;
  height:50px;
  background:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#907C6C;//#57483D;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
}

.shadow{
  -o-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.center{
  width:100px;
  height:70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pn{
  border: 1px solid #907C6C;//#57483D;
  width:35px;
  text-align: center;
  height:25px;
  font-family: 'Lato',sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 25px;
}

.toTop{
  width:40px;
  height:40px;
  border:none;
  border-radius: 50%;
  background: #fff;
  font-size:1.5em;
  font-weight: bold;
  box-shadow:3px 4px 5px rgba(0,0,0,0.3);
  color:#907C6C;
  line-height: 40px;
  text-align: center;
  position: fixed;
  right:40px;
  bottom:50px;
  outline: none;
  display: none;
}

.toTop:hover{
  cursor:pointer;
}

.title{
  margin-left:30px;
  color:#57068c;
}


.title h2{
  font-family: 'Comic Talk', sans-serif;
  font-size:2.3em;
}

.controls{
  width:160px;
  margin-right:30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control{
  width:30px;
  height: 30px;
  color:#907C6C;//#57483D;
  background: none;
  font-size:1.5em;
  border:none;
  outline:none;
}

#volume{
  color:#808080;
}

.control:hover{
  cursor:pointer;
}

.content{
  min-width: 100%;
  width: 100%;
  margin-top: 50px;
  min-height: 100%;
  //height: 100%;
}

.panel {
  min-width:100%;
  min-height: 100%;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  background: none;
}

#panel6{
  margin-bottom:40px;
}

#panel2,#panel4{
  overflow: hidden;
}

.panel:not(#panel1){
    margin-top:40px;
}

#panel2-canvas,#panel4-canvas{
  min-width: 30%;
  min-height: 100%;
  width:30%;
  height: 100%;
  margin-top:20px;
  background: none;
  position: absolute;
  display: flex;
  justify-content: center;
}


#img2,#img4{
  background: white;
}

.img-container{
  max-width:100%;
  min-height:100%;
  width:70%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border:1px solid #000;
  box-shadow: 0 0 5px #000;
}

.img-container img{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  background: white;
}


.disabled{
  color:#DCDCDC;
}

.disabled:hover{
  cursor: not-allowed;
}

/* taken and editted to suit this site from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.3em;
  font-family: 'Poppins',sans-serif;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #907C6C;//#57483D;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* taken and editted to suit this site from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
